*{
    padding: 0;
    margin: 0;
}

.main-content-area{
    align-items: center;
    justify-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.main-heading{
    color: burlywood;
}

.h3-heading{
    margin: 20px;
    padding: 20px;
    color: blanchedalmond;
    font-size: 25px;
}

span.button {
    display: inline-block; /* Allows setting width, height, and padding */
    width: 100px;          /* Sets a fixed width */
    height: 100px;         /* Sets a fixed height */
    margin: 10px;          /* Adds space around each box */ /* Background color for the boxes */
    text-align: center;    /* Centers text horizontally */
    line-height: 100px;    /* Centers text vertically */
    border: 2px solid black; /* Adds a border around each box */
    border-radius: 10px;   /* Rounds the corners of the boxes */
}

#color-1{
    background-color: rgb(162, 103, 138);
}

#color-2{
    background-color: rgb(77, 60, 119);
}

#color-3{
    background-color: rgb(83, 100, 147);
}

#color-4{
    background-color: rgb(218, 114, 151);
}