* {
    margin: 0;
    padding: 0;
    background: #272343;
    color: white;
    font-family: Arial, sans-serif;
}

/* General styles for the section area */
.conten-section-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Heading styles */
.conten-section-area h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    
}

/* Form container styles */
.form-conten {
    
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Label styles */
.form-conten label {
    display: block;
    font-size: 1.1em;
    margin-bottom: 10px;
}

/* Input styles */
.form-conten input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

/* Button styles */
.form-conten button {
    background-color: #1e56a0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}

.form-conten button:hover {
    background-color: #0056b3;
}

/* Weight guide styles */
.form-conten h3 {
    margin-top: 30px;
    font-size: 1.5em;

}

.form-conten p {
    margin: 10px 0;
    font-size: 1em;
    
}
